{% extends "PFAMaillingBundle::layout.html.twig" %}

{% block title %}
    Messagerie
{% endblock %}

{% block page_title %}
    Boîte Aux Lettres
{% endblock %}

{% block content %}
    <div id="mail_Layout" class="row">
        <div class="col m3 s3">
            <ul class="collection">
                {% for folder in folders %}
                    {% if folder.canBeRemoved == 0 %}
                        <li class="collection-item" data-code="{{ folder.code }}"><a href="javascript:;" data-code="{{ folder.code }}" data-id="{{ folder.id }}">{{ folder.name }}</a></li>
                    {% else %}
                        <li class="collection-item" data-code="{{ folder.code }}">
                            <a href="javascript:;" data-code="{{ folder.code }}" data-id="{{ folder.id }}">{{ folder.name }}</a>
                            <a href="javascript:;" class="pull-right">
                                <i class="material-icons tooltipped remove-folder" data-position="bottom" data-delay="5" data-tooltip="Supprimer ce dossier" >delete</i>
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
            <a class="btn-floating waves-effect waves-light red pull-right modal-trigger" href="#create_mail_folder_modal" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></a>
        </div>

        <div class="col s9 m9">
            <div class="row">
                <div class="col m5 s12 pull-left block_actions">
                    <a href="javascript:;" class="btn mail_block_action block_delete disabled tooltipped" data-position="bottom" data-delay="5" data-tooltip="Supprimer"> <i class="material-icons">delete</i></a>

                    {#<a href="javascript:;" class="btn mail_block_action block_folder disabled tooltipped dropdown-button" data-activates='folders' data-position="bottom" data-delay="5" data-tooltip="Changer de dossier"><i class="material-icons">folder</i></a>
                    <ul id='folders' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                    </ul> #}


                    <a href="javascript:;" class="btn mail_block_action block_mark_read disabled tooltipped" data-position="bottom" data-delay="5" data-tooltip="Marqué comme lu."><i class="material-icons">visibility</i></a>
                </div>
            </div>

            <table class="bordered striped highlight responsive-table mail-table" id="mail_table__">
                <thead>
                    <th>
                        <input type="checkbox" name="checkall" id="checkall" title="Tout Cocher">
                        <label for="checkall"></label>
                    </th>
                    <th>Par</th>
                    <th>Sujet</th>
                    <th>Date</th>
                </thead>
                <tbody id="mail-list-zone">
                   {# {% if emails|length == 0 %}
                        <tr>
                            <td colspan="4"><h5 class="center">Aucun Mail dans ce dossier !!!</h5></td>
                        </tr>
                    {% else %}
                        {% for email in emails %}
                            {% if email.isRead %}
                                {% set maisCLass = "read" %}
                            {% else %}
                                {% set maisCLass = "unread" %}
                            {% endif %}
                            <tr class="{{ maisCLass }}">
                                <td>
                                    <input type="checkbox" name="email[{{ email.id }}]" id="email-{{ email.id }}" value="{{ email.id }}" class="select-email-row email-{{ email.id }}" />
                                    <label for="email-{{ email.id }}"></label>
                                </td>
                                <td>
                                    <strong>
                                        <a href="{{ path("view_mail", {"mail": email.id }) }}">
                                            {{ email.sender.nom ~ " " ~ email.sender.prenom }}
                                        </a>
                                    </strong>
                                </td>
                                <td>
                                    <span class="truncate">
                                        <a href="{{ path("view_mail", {"mail": email.id }) }}">
                                            {{ email.subject }}
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    {{ email.date|date("d/m/Y") }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %} #}
                </tbody>
            </table>
        </div>

        <div id="modals">
        {{ render(controller("PFAMaillingBundle:Mailling:createFolder")) }}
        {{ render(controller("PFAMaillingBundle:Mailling:sendMail")) }}
    </div>
    </div>
{% endblock %}

{% block before_footer %}
    <a class="btn-floating btn-large waves-effect waves-light red pull-right modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Ajouter un événement" href="#send_mail_modal"><i class="material-icons">add</i></a>
{% endblock %}

{% block additional_javascripts %}
    <script>
        function getImage(user) {

        }

        var loadMailsPath = "{{ path("load_folder_mail", {"code": "CODE"}) }}";

        $(document).ready(function () {
            //$("#mail_table").DataTable();
            $('select').material_select();

            $('.modal-trigger').leanModal();

            $(".collection-item").click(function (e) {
                $(".collection-item").removeClass("active");
                $(".collection-item a").removeClass("white-text");
                $(this).addClass("active");
                $(this).find("a").addClass("white-text");
                $('select').material_select();

                $("#mail-list-zone").html(`<tr> <td colspan="4"><div class="preloader-wrapper big active center" style="left: 50%" >
                        <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                        </div>
                        </div></td></tr>`);
                $.get(
                        loadMailsPath.replace('CODE', $(this).data('code')),
                        {},
                        function (data) {
                            $("#mail-list-zone").html(data);
                        }
                );

            });

            $(".collection-item").first().click();

            $('#mail_table tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $(".remove-folder").click(function (e) {
                e.stopPropagation();
            })

        });
    </script>

    {% javascripts
        "@PFAMaillingBundle/Resources/public/js/maillingScripts.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}