{% extends "PFAMaillingBundle::layout.html.twig" %}

{% block title %}
    Messagerie
{% endblock %}

{% block page_title %}
    <h4 class="page-header center">Boîte Aux Lettres</h4>
{% endblock %}

{% block content %}
    <div id="mail_Layout" class="row">

        <div class="col m2 s2">
            <ul class="collection">
                {% for folder in folders %}
                    {% if folder.canBeRemoved == 0 %}
                        <li class="collection-item" data-code="{{ folder.code }}"><a href="javascript:;" data-code="{{ folder.code }}" data-id="{{ folder.id }}">{{ folder.name }}</a></li>
                    {% else %}
                        <li class="collection-item" data-code="{{ folder.code }}">
                            <a href="javascript:;" data-code="{{ folder.code }}" data-id="{{ folder.id }}">{{ folder.name }}</a>
                            <a href="javascript:;" class="pull-right">
                                <i class="material-icons tooltipped remove-folder" data-position="bottom" data-delay="5" data-tooltip="Supprimer ce dossier" >delete</i>
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
            <a class="btn-floating waves-effect waves-light red pull-right modal-trigger" href="#create_mail_folder_modal" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></a>
        </div>


        <div class="col s10 m10">

            <div class="row">
                <div class="col m5 s12 pull-left">
                    <i class="material-icons">delete</i>
                    <i class="material-icons">folder</i>
                </div>
            </div>

            <table class="bordered striped highlight responsive-table mail-table" id="mail_table__">
                <thead>
                    <th>
                        <input type="checkbox" name="checkall" id="checkall" title="Tout Cocher">
                        <label for="checkall"></label>
                    </th>
                    <th>Par</th>
                    <th>Sujet</th>
                    <th>Date</th>
                </thead>
                <tbody>
                    {% if emails|length == 0 %}
                        <tr>
                            <td colspan="4"><h5 class="center">Aucun Mail dans ce dossier !!!</h5></td>
                        </tr>
                    {% else %}
                        {% for email in emails %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="email[{{ email.id }}]" id="email-{{ email.id }}" class="select-email-row email-{{ email.id }}" />
                                    <label for="email-{{ email.id }}"></label>
                                </td>
                                <td>
                                    <strong>
                                        {{ email.sender.nom ~ " " ~ email.sender.prenom }}
                                    </strong>
                                </td>
                                <td>
                                    <span class="truncate">
                                        {{ email.subject }}
                                    </span>
                                </td>
                                <td>
                                    {{ email.date|date("d/m/Y") }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red pull-right modal-trigger" href="#send_mail_modal" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></a>
    </div>

    <div id="modals">
        {{ render(controller("PFAMaillingBundle:Mailling:createFolder")) }}
        {{ render(controller("PFAMaillingBundle:Mailling:sendMail")) }}
    </div>
{% endblock %}

{% block additional_javascripts %}
    <script>
        function getImage(user) {

        }

        $(document).ready(function () {
            //$("#mail_table").DataTable();
            $('select').material_select();

            $('.modal-trigger').leanModal();

            $(".collection-item").click(function (e) {
                $(".collection-item").removeClass("active");
                $(".collection-item a").removeClass("white-text");
                $(this).addClass("active");
                $(this).find("a").addClass("white-text");
                var table = $("#mail_table").DataTable();
                if ( $.fn.dataTable.isDataTable( '#mail_table' ) ) {
                    table.destroy();
                }

                var path = "{{ path("load_folder_mail", {"code": "XXX" }) }}";
                path = path.replace("XXX", $(this).attr('data-code'));
                table = $("#mail_table").DataTable({
                    "ajax": {
                        "url": path,
                        "type": "GET"
                    },
                    "columns": [
                        {
                            "data": "id",
                            render: function ( data, type, row ) {
                                if ( type === 'display' ) {
                                    return '<input type="checkbox" class="editor-active">';
                                }
                                return data;
                            },
                            //className: "dt-body-center"
                        },
                        //{ "data": "id" },
                        { "data": "subject" },
                        { "data": "sender.nom" },
                        { "data": "date" },
                    ],
                    /*'columnDefs': [{
                        'targets': 0,
                        'searchable':false,
                        'orderable':false,
                        'className': 'dt-body-center',
                        'render': function (data, type, full, meta){
                            return '<input type="checkbox" name="id[]" value="'+ $('<div/>').text(data).html() + '">';
                        }
                    }], */
                    'order': [3, 'desc'],
                    "deferRender": true// optimize load
                });
                $('select').material_select();

            });

            $(".collection-item").first().click();

            $('#mail_table tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $(".remove-folder").click(function (e) {
                e.stopPropagation();
            })

        });
    </script>

    {% javascripts
        "@PFAMaillingBundle/Resources/public/js/maillingScripts.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}