{% extends 'PFACoreBundle::layout.html.twig' %}
{% import "@PFAMain/macros/functions.html.twig" as macro %}

{% block additional_stylesheets %}
    {% stylesheets
    '@PFAMainBundle/Resources/public/css/chat-room.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection" />
    {% endstylesheets %}
{% endblock %}

{% block title %}
    Chat
{% endblock %}

{% block page_title %}
    <h5 class="center page-header">Salle de Discution {{ project.name|upper }}</h5>
{% endblock %}

{% block content %}

    <div class="row chat-zone">
        <script>
            var GLOBAL_JS = {
                //Dates in twig messages macros form moment proccessing
                DATE_TO_RENDER_IN_MOMENT: []
            };
        </script>
        <!-- Begin Chat Zone -->
            <div class="col m8 offset-m1 z-depth-1 chat-messages-box">
                <div class='media'>
                    <div class='media-left media-middle'>
                        <a href='javascript:;'>
                            <!--<img class='media-object' data-src='...' alt='Generic placeholder image'> -->
                        </a>
                    </div>
                    <div class='media-body'>
                        <!--<h4 class='media-heading'>Middle aligned media</h4> -->
                        <p></p>
                        <p></p>
                    </div>
                </div>
                {% for message in chatMessages %}
                    {# dump(message) #}
                    {% if message.sender.id == app.user.id %}
                        {{ macro.rightChatBubble(message.sender,message.content, message.date, message.id) }}
                    {% else %}
                        {{ macro.leftChatBubble(message.sender,message.content, message.date, message.id) }}
                    {% endif %}
                {% endfor %}
            </div>
        <!-- End Chat Zone -->

        <!-- Begin User List -->
        <div class="col m3 offset- z-depth-1 chat-members-list">
            <ul class="collection">
                {% for member in members %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <!--<img src="" alt="" class="circle"> -->
                        <span class="title">{{ member.memeber.nom }}</span>
                        <a href="#!" class="secondary-content"><i class="material-icons bg-gray">grade</i></a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <!-- End User List -->
    </div>

    <div class="row" id="chat-message-box">
        <div class="input-field col s6 offset-m1">
            <input type="text" class="form-control" id="message" placeholder="Votre message" autocomplete="off">
        </div>

        <div class="input-field col s1">
            <button class="btn-floating" title="Envoyer" id="send-message">
                <i class="material-icons">send</i>
            </button>
        </div>
    </div>

{% endblock %}

{% block additional_javascripts %}

    <script>
        var projectId = {{ project.id }};
        var chatMessagePath = "{{ path("send_chat_message",{"project": project.id}) }}";
        var subscribePath = "project/" + projectId + "/chat";
        var userId = {{ app.user.id }};


    </script>
    {% javascripts
    '@PFAMainBundle/Resources/public/js/ChatController.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}