{% extends 'PFACoreBundle::layout.html.twig' %}
{% import "@PFAMain/macros/functions.html.twig" as macro %}

{% block additional_stylesheets %}
    {% stylesheets
    '@PFAMainBundle/Resources/public/css/chat-room.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection" />
    {% endstylesheets %}
{% endblock %}

{% block title %}
    Chat
{% endblock %}

{% block page_title %}
    {# <h5 class="center page-header">Salle de Discution {{ project.name|upper }}</h5> #}
{% endblock %}

{% block content %}
    <script>
        window.CHAT_MEMBERS = [];
        window.ACTIVE_CHAT_ID = -1;
        window.ACTIVE_CHAT_INDEX = 0;
    </script>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <!--<div class="top">
                    <input type="text" />
                    <a href="javascript:;" class="search"></a>
                </div>-->
                {% set lastMessage = {content: "Aucun Message"} %}
                {% set hasDate = false %}
                {% if groupChatMessages|length > 0 %}
                    {% set lastMessage = groupChatMessages|last %}
                    {% set hasDate = false %}
                {% endif %}
                <ul class="people">
                    <li class="person" data-id="-1" data-chat-index="0" data-chat="person0">
                        <img src="http://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
                        <span class="name">Group</span>
                        {% if hasDate %}
                            <span class="time">{{ lastMessage.date|date("D d/m/Y") }}</span>
                        {% endif %}
                        <span class="preview truncate">{{ lastMessage.content }}</span>
                    </li>

                    {% set index = 1 %}
                    {% for member in members %}
                        {% if member.memeber.id != app.user.id %}
                            <script>
                                window.CHAT_MEMBERS.push({{ member.memeber.id }});
                            </script>
                            <li class="person" data-id="{{ member.memeber.id }}" data-chat-index="{{ index }}" data-chat="person{{ loop.index }}">
                                <img src="http://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
                                <span class="name">{{ member.memeber.nom }} {{ member.memeber.prenom }}</span>
                                <span class="time">1:44 PM</span>
                                <span class="preview">I've forgotten how it felt before</span>
                            </li>

                            {% set index = index + 1 %}
                        {% endif %}
                    {% endfor %}

                    <!--<li class="person" data-chat="person3">
                        <img src="http://s3.postimg.org/h9q4sm433/img3.jpg" alt="" />
                        <span class="name">Louis CK</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">But we’re probably gonna need a new carpet.</span>
                    </li> -->
                </ul>
            </div>

            <div class="right">
                <div class="top"><span>Discution Avec: <span class="name">Group</span></span></div>

                <div class="chat" data-chat="person0">
                    {% set chatDates = [] %}
                    {% for message in groupChatMessages %}

                        {% if message.date|date("d/m/Y") not in chatDates %}
                            {% set chatDates = chatDates|merge([message.date|date("d/m/Y")]) %}

                            <div class="conversation-start">
                                <span>{{ message.date|date("d M Y") }}</span>
                            </div>
                        {% endif %}

                        {% if message.sender.id == app.user.id %}
                            <div class="bubble me">
                                {{ message.content }}
                            </div>
                        {% else %}
                            <div class="bubble you">
                                {{ message.content }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="chat" data-chat="person1">
                </div>

                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input type="text" placeholder="Votre message !!! " id="message" />
                    <!--<a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send"></a> -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_javascripts %}
    <script>
        var projectId = {{ project.id }};
        var chatMessagePath = "{{ path("send_chat_message",{"project": project.id}) }}";
        var subscribePath = "project/" + projectId + "/chat";
        var userId = {{ app.user.id }};

    </script>
    {% javascripts
    '@PFAMainBundle/Resources/public/js/ChatController.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}