{# extends "PFAMainBundle::layout.html.twig" #}

<div class="row">
    {{ form_start(form, {"attr": {"class": "addProjectForm"}}) }}
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.name, {"attr":{}}) }}
                {{ form_label(form.name) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.description, {"attr":{}}) }}
                {{ form_label(form.description) }}
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Enregistrer" class="btn btn-primary ladda-button pull-right" id="btn-save-project">
        </div>
    {{ form_end(form) }}
</div>