<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>PFA - {% block title %}Home{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {% stylesheets
                '@PFAMainBundle/Resources/public/css/speech-bubble.css'
                '@PFACoreBundle/Resources/public/css/bootstrap.css'
                '@PFACoreBundle/Resources/public/css/materialize.css'
                '@PFACoreBundle/Resources/public/css/pace.css'
                '@PFACoreBundle/Resources/public/css/ladda.min.css'
                '@PFACoreBundle/Resources/public/css/datetimepicker.css'
                '@PFACoreBundle/Resources/public/css/materialize-tags.css'
                '@PFACoreBundle/Resources/public/css/jquery.dataTables.css'
                '@PFACoreBundle/Resources/public/css/styles.css'
                '@PFACoreBundle/Resources/public/css/open-sans.css'
                '@PFACoreBundle/Resources/public/css/select2.css'

            %}
            <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection" />
            {% endstylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        {% endblock %}

        {% block additional_stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #ee6e73;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Project</span>Tools</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="user-menu">
                            <li class="dropdown pull-right">
                                <img src="{{ vich_uploader_asset(app.user, "imageFile") }}" alt="" width="50" class="dropdown-button thumbnail circle" data-toggle="dropdown">
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path("fos_user_security_logout") }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>

            </div>
            <!-- /.container-fluid -->
        </nav>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
                <form role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <ul class="nav menu">
                    <li class="active"><a href="index.html">
                            Dashboard</a></li>
                    <li>
                        <a
                            href="{{ path("mailbox_home") }}"
                            class="side-menu"
                            data-position="bottom"
                            data-delay="5"
                            data-tooltip="Boîte aux lèttres">
                            <i class="fa fa-globe"></i>
                            Mes E-mail
                        </a>
                    </li>
                    <li>
                        <a
                            href="{{ path("agenda_home") }}"
                            class="side-menu"
                            data-position="bottom"
                            data-delay="5"
                            data-tooltip="Boîte aux lèttres">
                            <i class="fa fa-folder-open"></i>
                            <span class="">Mon Agenda du jour</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="{{ path("project_list_home_page") }}"
                            class="side-menu"
                            data-position="bottom"
                            data-delay="5"
                            data-tooltip="Boîte aux lèttres">
                            <i class="fa fa-get-pocket"></i>
                            Mes Projets
                        </a>
                    </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a
                                href="{{ path("fos_user_security_logout") }}"
                                class="side-menu"
                            >
                                <i class="fa fa-sign-out"></i>
                                Déconnexion
                            </a>
                        </li>

                </ul>

            </div>
            <!--/.sidebar-->
        {% endif %}
        <div
            class="
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2
                {% else %}
                col-md-12
                {% endif %}
                main"
        >
            <div class="row">
                <h1 class="page-header">Tableau de bord
                    <small>
                        <!-- Block Page Title -->
                        {% block  page_title %}
                        {% endblock %}
                        <!-- End Block Page Title -->
                    </small>
                </h1>
            </div>
            <!--/.row-->
            <div class="row">
                <!-- Block Header -->
                {% block header %}

                {% endblock %}
                <!-- End Block Header -->
            </div>
            <div class="row">
                {% block body %}
                    <!-- Block Content -->
                    {% block content %}

                    {% endblock %}
                    <!-- Block Content -->
                {% endblock %}
            </div>
            <div class="row">
                <!-- Block Footer -->
                {% block footer %}

                {% endblock %}
                <!-- Block Footer -->
            </div>

            <!--/.row-->
        </div>

        {% block javascripts %}
            {% javascripts
            '@PFACoreBundle/Resources/public/js/Jquery2.js'
            '@PFACoreBundle/Resources/public/js/momentJsWithLocals.js'
            '@PFACoreBundle/Resources/public/js/react-with-addons.js'
            '@PFACoreBundle/Resources/public/js/spin.min.js'
            '@PFACoreBundle/Resources/public/js/ladda.min.js'
            '@PFACoreBundle/Resources/public/js/react-dom.js'
            '@PFACoreBundle/Resources/public/js/tether.js'
            '@PFACoreBundle/Resources/public/js/bootstrap.js'
            '@PFACoreBundle/Resources/public/js/materialize.min.js'
            '@PFACoreBundle/Resources/public/js/react-bootstrap.js'
            '@PFACoreBundle/Resources/public/js/ReactMaterializeComponents.js'
            '@PFACoreBundle/Resources/public/js/pace.js'
            '@PFACoreBundle/Resources/public/js/parsley/parsley.min.js'
            '@PFACoreBundle/Resources/public/js/parsley/fr.js'
            '@PFACoreBundle/Resources/public/js/datetimepicker.js'
            '@PFACoreBundle/Resources/public/js/typeahead.js'
            '@PFACoreBundle/Resources/public/js/materialize-tags.js'
            '@PFACoreBundle/Resources/public/js/Global.js'
            '@PFACoreBundle/Resources/public/js/jquery.dataTables.js'
            '@PFACoreBundle/Resources/public/js/dropzone.js'
            '@PFACoreBundle/Resources/public/js/select2.full.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
            <script src="{{ asset("bundles/ivoryckeditor/ckeditor.js") }}"></script>
            {{ ws_client() }}

            <script>
                var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
                moment.locale("fr");

                /************ ROUTES *****************/
                var MAILLING_HOME_ROUTE = '{{ path("mail_box_data") }}';

                var webSocket = WS.connect(_WS_URI);

                window.PFA_WEB_SOCKET = webSocket;
                /*
                webSocket.on("socket/connect", function (session) {
                    //session is an Autobahn JS WAMP session.
                    session.call("rpctest/test_func", {"term1": 2, "term2": 5}).then(
                            function(result)
                            {
                                console.log("RPC Valid!", result);
                            },
                            function(error, desc)
                            {
                                console.log("RPC Error", error, desc);
                            }
                    );

                    console.log("Successfully Connected!");
                }); */

                webSocket.on("socket/disconnect", function (error) {
                    //error provides us with some insight into the disconnection: error.reason and error.code

                    console.log("Disconnected for " + error.reason + " with code " + error.code);
                });
                $(document).ready(function () {
                    $(".button-collapse").sideNav();
                })
            </script>

        {% endblock %}

        {% block additional_javascripts %}
        {% endblock %}
    </body>
</html>
