<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>PFA - {% block title %}Home{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {% stylesheets
                '@PFACoreBundle/Resources/public/css/bootstrap.css'
                '@PFACoreBundle/Resources/public/css/materialize.css'
                '@PFACoreBundle/Resources/public/css/pace.css'
                '@PFACoreBundle/Resources/public/css/ladda.min.css'
                '@PFACoreBundle/Resources/public/css/datetimepicker.css'
                '@PFACoreBundle/Resources/public/css/materialize-tags.css'
                filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection" />
            {% endstylesheets %}
        {% endblock %}

        {% block additional_stylesheets %}
        {% endblock %}
    </head>
    <body>

        <div class="">
            {% block body %}
                <!-- Block Header -->
                {% block header %}
                    <header>
                        <nav>
                            <div class="nav-wrapper">
                                <a href="#!" class="brand-logo">Logo</a>
                                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                                <ul class="right hide-on-med-and-down">
                                    <li class="_active"><a href="{{ path("mailbox_home") }}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Boîte aux lèttres"><i class="material-icons medium">email</i></a></li>
                                    <li><a href="{{ path("agenda_home") }}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Agenda"><i class="material-icons medium">today</i></a></li>
                                    <li><a href="javascript:;" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Messages"><i class="material-icons medium">message</i> </a></li>
                                    <li><a href="javascript:;" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Group de Travail"><i class="material-icons">supervisor_account</i></a></li>
                                    <li><a href="javascript:;" class="dropdown-button" data-activates='dropdown1'><i class="material-icons">more_vert</i></a></li>
                                </ul>

                                <ul id='dropdown1' class='dropdown-content'>
                                    <li><a href="#!">one</a></li>
                                    <li><a href="#!">two</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path("fos_user_security_logout") }}">Déconnexion</a></li>
                                </ul>

                                <ul class="side-nav" id="mobile-demo">
                                    <li><a href="sass.html">Sass</a></li>
                                    <li><a href="badges.html">Components</a></li>
                                    <li><a href="collapsible.html">Javascript</a></li>
                                    <li><a href="mobile.html">Mobile</a></li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                {% endblock %}
                <!-- End Block Header -->

                <!-- Block Page Title -->
                {% block  page_title %}
                {% endblock %}
                <!-- End Block Page Title -->

                <!-- Block Content -->
                {% block content %}

                {% endblock %}
                <!-- Block Content -->

                <!-- Block Footer -->
                {% block footer %}

                {% endblock %}
                <!-- Block Footer -->
            {% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts
            '@PFACoreBundle/Resources/public/js/Jquery2.js'
            '@PFACoreBundle/Resources/public/js/momentJsWithLocals.js'
            '@PFACoreBundle/Resources/public/js/react-with-addons.js'
            '@PFACoreBundle/Resources/public/js/spin.min.js'
            '@PFACoreBundle/Resources/public/js/ladda.min.js'
            '@PFACoreBundle/Resources/public/js/react-dom.js'
            '@PFACoreBundle/Resources/public/js/tether.js'
            '@PFACoreBundle/Resources/public/js/bootstrap.js'
            '@PFACoreBundle/Resources/public/js/materialize.min.js'
            '@PFACoreBundle/Resources/public/js/react-bootstrap.js'
            '@PFACoreBundle/Resources/public/js/ReactMaterializeComponents.js'
            '@PFACoreBundle/Resources/public/js/pace.js'
            '@PFACoreBundle/Resources/public/js/parsley/parsley.min.js'
            '@PFACoreBundle/Resources/public/js/parsley/fr.js'
            '@PFACoreBundle/Resources/public/js/datetimepicker.js'
            '@PFACoreBundle/Resources/public/js/typeahead.js'
            '@PFACoreBundle/Resources/public/js/materialize-tags.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset("bundles/ivoryckeditor/ckeditor.js") }}"></script>
            {{ ws_client() }}

            <script>
                var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
                moment.locale("fr");
                /************ ROUTES *****************/
                var MAILLING_HOME_ROUTE = '{{ path("mail_box_data") }}';

                var webSocket = WS.connect(_WS_URI);
                 /*
                webSocket.on("socket/connect", function (session) {
                    //session is an Autobahn JS WAMP session.
                    session.call("rpctest/test_func", {"term1": 2, "term2": 5}).then(
                            function(result)
                            {
                                console.log("RPC Valid!", result);
                            },
                            function(error, desc)
                            {
                                console.log("RPC Error", error, desc);
                            }
                    );

                    console.log("Successfully Connected!");
                });

                webSocket.on("socket/disconnect", function (error) {
                    //error provides us with some insight into the disconnection: error.reason and error.code

                    console.log("Disconnected for " + error.reason + " with code " + error.code);
                });
                $(document).ready(function () {
                    $(".button-collapse").sideNav();
                })*/
            </script>

        {% endblock %}

        {% block additional_javascripts %}
        {% endblock %}
    </body>
</html>
