{% extends "PFACoreBundle::layout.html.twig" %}

{% block title %}
    Documents
{% endblock %}

{% block page_title %}
    <h5 class="center page-header">Documents {{ project.name|upper }}</h5>
{% endblock %}

{% block additional_stylesheets %}
    {% stylesheets
        "@PFACoreBundle/Resources/public/css/dropzone.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if project.ressources.documents|length == 0 %}
            <div class="row">
                <div class="col md8 offset-m2 well">
                    <h3 class="header ">
                        Aucun document pour l'instant
                    </h3>
                </div>
            </div>
        {% else %}
            <div class="col s12 m10 offset-l1">
                <table class="bordered striped highlight responsive-table" id="documents_table">
                    <thead>
                        <th>#</th>
                        <th>Type</th>
                        <th>Nom du Doc.</th>
                        <th>Par</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {# dump(project.ressources.documents[0]) #}
                        {% for document in documents %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {% set extension = document.imageName|split(".")|last %}
                                    {% set title = ""  %}
                                    {% if extension == "pdf" %}
                                        {% set src = asset("bundles/pfacore/images/pdf.png") %}
                                        {% set title = "Fichier PDF"  %}
                                    {% elseif extension in ["jpg","png","jped","gif"] %}
                                        {% set src = asset("bundles/pfacore/images/jpg.png") %}
                                        {% set title = "Image"  %}
                                    {% elseif extension == "doc" or  extension == "docx" %}
                                        {% set src = asset("bundles/pfacore/images/word.png") %}
                                        {% set title = "Ficher MS Word"  %}
                                    {% elseif extension == "xlsx" %}
                                        {% set src = asset("bundles/pfacore/images/excel.png") %}
                                        {% set title = "Fichier MS Excel"  %}
                                    {% elseif extension in ["rar", "zip"] %}
                                        {% set src = asset("bundles/pfacore/images/rar.png") %}
                                        {% set title = "Fichier Compréssé"  %}
                                    {% else%}
                                        {% set src = asset("bundles/pfacore/images/rar.png") %} <!-- DEFAULT -->
                                        {% set title = "Fichier inconue"  %}
                                    {% endif %}
                                    <img src="{{ src }}" alt="Type" class="image circle_ tooltipped" width="45" data-position="bottom" data-delay="50" data-tooltip="{{ title }}">
                                </td>

                                <td>
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header">
                                                {{ document.title }}
                                            </div>
                                            <div class="collapsible-body">
                                                <ul class="collection">
                                                    {% if document.versions|length == 0 %}
                                                        <li class="collection-item"><div>Aucune Version.</div></li>
                                                    {% else %}
                                                        {% for version in document.versions %}
                                                            {% set v_extension = version.imageName|split(".")|last %}
                                                            {% set v_title = ""  %}
                                                            {% if v_extension == "pdf" %}
                                                                {% set v_src = asset("bundles/pfacore/images/pdf.png") %}
                                                                {% set v_title = "Fichier PDF"  %}
                                                            {% elseif v_extension in ["jpg","png","jped","gif"] %}
                                                                {% set v_src = asset("bundles/pfacore/images/jpg.png") %}
                                                                {% set v_title = "Image"  %}
                                                            {% elseif v_extension == "doc" or  extension == "docx" %}
                                                                {% set v_src = asset("bundles/pfacore/images/word.png") %}
                                                                {% set v_title = "Ficher MS Word"  %}
                                                            {% elseif v_extension == "xlsx" %}
                                                                {% set v_src = asset("bundles/pfacore/images/excel.png") %}
                                                                {% set v_title = "Fichier MS Excel"  %}
                                                            {% elseif v_extension in ["rar", "zip"] %}
                                                                {% set v_src = asset("bundles/pfacore/images/rar.png") %}
                                                                {% set v_title = "Fichier Compréssé"  %}
                                                            {% else%}
                                                                {% set v_src = asset("bundles/pfacore/images/rar.png") %} <!-- DEFAULT -->
                                                                {% set v_title = "Fichier inconue"  %}
                                                            {% endif %}


                                                            <li class="collection-item avatar">
                                                                <img src="{{ v_src }}" alt="{{ version.title }}" class="circle">
                                                                <span class="title">{{ version.title }}</span>
                                                                <p>
                                                                    {{ version.owner.nom ~ " " ~  version.owner.prenom }} <br>
                                                                    {{ version.updatedAt|date("d/M/Y") ~ " à " ~ version.updatedAt|date("H:i")}}
                                                                </p>
                                                                <span href="javascript:;" class="secondary-content">
                                                                    <a href="{{ vich_uploader_asset(version, "imageFile") }}" target="_blank" title="Télécharger"><i class="material-icons">system_update_alt</i></a>
                                                                    <a href="javascript:;" title="Supprimer Le cette version" class="delete-document-version" data-document="{{ version.id }}"><i class="material-icons">delete</i></a>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>

                                            </div>
                                        </li>
                                    </ul>

                                </td>

                                <td>
                                    {{ document.owner.nom ~ " " ~ document.owner.prenom }}
                                </td>

                                <td>
                                    {{ document.updatedAt|date("d/M/Y") ~ " à " ~ document.updatedAt|date("H:i") }}
                                </td>
                                <td>
                                    <a href="{{ vich_uploader_asset(document, "imageFile") }}" title="Télécharger" target="_blank"><i class="material-icons">system_update_alt</i></a>
                                    <a href="javascript:;" title="Ajouter une Version" data-parent="{{ document.id }}" class="modal-trigger add_doc_version" data-toggle="modal" data-target="#addDocumentModal"><i class="material-icons">open_in_browser</i></a>
                                    <a href="javascript:;" title="Supprimer Le ducument" class="delete-document" data-document="{{ document.id }}"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endif %}

    </div>
    <div class="fixed-action-btn tooltipped" data-position="left" data-delay="50" id="add_document" data-tooltip="Ajouter un document" style="bottom: 45px; right: 24px;" data-toggle="modal" data-target="#addDocumentModal">
        <a class="btn-floating btn-large red modal-trigger" href="javascript:;">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="modalBox row">
        {{ render(controller("PFAMainBundle:Document:addDocument", {"project": project.id })) }}
    </div>
{% endblock %}

{% block additional_javascripts %}
    {% javascripts
        '@PFACoreBundle/Resources/public/js/dropzone.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        function deleteDocument(id) {
            var path = "{{ path("pfa_delete_document",{"document": "XXX", "project": "YYY"}) }}";
            path = path.replace("XXX", id);
            path = path.replace("YYY", {{ project.id }});
            console.log(path);
            $.post(
                 ""+path+"",
                 {},
                 function (data) {
                    if(data.status) {
                        window.location.reload();
                    }
                 }
            )
        }

        $(document).ready(function () {
            //Initialize Tooltips
            $('.tooltipped').tooltip({delay: 50});

            $("#documents_table").DataTable();

            $('select').material_select();

            $(".add_doc_version").click(function (e) {
               $("#docType").val("child");
               $("#docParent").val($(this).attr("data-parent"));
            });

            $("#add_document").click(function (e) {
               $("#docType").val("parent");
            });

            $(".addProject_Form").submit(function (e) {
                e.preventDefault();
                var data = new FormData(this);
                $("#add_document_btn").html("Envoie en cours ...").prop("disabled", true);
                $.ajax({
                    url: "{{ path("upload_project_document", {"project": project.id}) }}",
                    method: $(this).attr("method"),
                    processData: false,
                    contentType: false,
                    data: data,
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if(data.status) {
                            $(".upload-status").html("<p>Document envoyé avec success !!!</p>").removeClass("hide");
                            $("#add_document_btn").html("Envoyer").prop("disabled", false);
                            window.location.reload();
                        }
                    },
                    error: function (er, err) {
                        console.log("Error : ", er, err);
                    }
                });
            });

            $(".delete-document").click(function (e) {
               if(confirm("Cette action va suprimmer toute les versions de ce document. Voullez vous continer ? ")) {
                   deleteDocument($(this).attr("data-document"));
               }
            });

            $(".delete-document-version").click(function (e) {
                if(confirm(" Voullez vous vraiment supprimer cette version ? ")) {
                    deleteDocument($(this).attr("data-document"));
                }
            });
        })
    </script>
{% endblock %}