{% extends "PFAMainBundle::layout.html.twig" %}

{% block title %}Forum{% endblock %}
{% block page_title %}
    Forum &laquo;{{ project.name }}&raquo;
{% endblock %}

{% block content %}
    <div class="row">
        <div class="m10 s12 offset-m1 col">
            {% if project.status != "ARCHIVED"%}
                <button type="button" class="btn btn-bitbucket right" id="show-comment-box">Ajouter un sujet</button>
            {% endif %}
        </div>

        {% if forum|length == 0 %}
            <div class="m10 s12 offset-m1 col teal card">
                <h3 class="center">Aucun sujet pour le moment. </h3>
            </div>
        {% else %}
            {% for item in forum %}
                <div class="col well m10 s12 offset-m1">
                    <div class="col m2 s2">
                        <img src="{{ vich_uploader_asset(item.owner, "imageFile") }}" alt="" width="100" style="margin-top: 20%" class="dropdown-button thumbnail circle">
                        <p>
                            <strong>{{ item.owner.nom ~ " " ~ item.owner.prenom }}</strong><br>
                           <small> {{ item.date|date("d/m/Y")  }} à {{ item.date|date("H:i:s")  }}</small>
                        </p>
                    </div>

                    <div class="col m7 s7">
                        <h3><a href="{{ path("view_forum_interaction", {"forum": project.forum.id, "interaction": item.id, "project": project.id }) }}">{{ item.subject|raw }}</a> </h3>
                        <p class="truncat">{{ item.content|truncate(200, false, '...')|raw }}</p>
                    </div>

                    <div class="col m3 s3">
                        <p style="margin-top: 10%; text-align: center">
                            <strong>{{ item.answers|length }}</strong> réponse(s)<br><br>
                            {% if item.answers|length > 0  %}
                                <span>
                                {% set last = item.answers|last %}
                                    <small> Dernière réponse le {{ last.date|date("d/m/Y") }} à {{ last.date|date("H:i") }}</small> <br><br>
                                <small>
                                    Par:  {{ last.owner.nom ~ " " ~ last.owner.prenom }}
                                </small> <br><br>
                            </span>
                            {% endif %}
                            <a href="{{ path("view_forum_interaction", {"forum": project.forum.id, "project": project.id, "interaction": item.id }) }}" class="btn">Consulter</a>
                            <br><br>

                            {% if project.moderator(app.user) %}
                                <a href="" class="btn red">Supprimer</a>
                            {% endif %}


                            {% if item.status == 1 %}
                                <br><br>
                                <span class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Sujet Résolu."><i class="material-icons">thumb_up</i></span>
                            {% else %}
                                <br><br>
                                <span class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Sujet non Résolu."><i class="material-icons">thumb_down</i></span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if project.status != "ARCHIVED"%}
            {{ render(controller("PFAMainBundle:Forum:addSubject", {"forum": project.forum.id})) }}
        {% endif %}

    </div>
{% endblock %}

{% block additional_javascripts %}
    <script>
        var addSubjectPath = "{{ path("add_forum_interaction", {"forum": project.forum.id, "project": project.id }) }}";
        $("#show-comment-box").click(function (e) {
           $("#forum_interactions_subject").focus();
        });
    </script>
    {% javascripts
        "@PFAMainBundle/Resources/public/js/ForumController.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}