
{% macro rightChatBubble(user,message, date, id) %}
    <div class="row">
        <div class="col m12 chat-message-row">
            <p class="triangle-right right">{{ message }}</p>

            {% set timeBlockId = "message-time-"~id %}
            <span class="message-time-right right" id="{{ timeBlockId }}">
                <script type="text/javascript">
                    GLOBAL_JS.DATE_TO_RENDER_IN_MOMENT.push({date: '{{ date }}', blockId: '{{ timeBlockId }}' });
                </script>
            </span>
        </div>
    </div>
{% endmacro %}

{% macro leftChatBubble(user,message, date, id) %}
    <div class='media'>
        <div class='media-left media-middle'>
            <a href='javascript:;'>
                <i class="material-icons circle left chat-message-icon">folder</i>
                <!--<img class='media-object' data-src='...' alt='Generic placeholder image'> -->
            </a>
            <span class='chat-user-name left'>{{ user.nom }}</span>

            {% set timeBlockId = "message-time-"~id %}
            <span class="message-time-left left" id="{{ timeBlockId }}">
                    <script type="text/javascript">
                        GLOBAL_JS.DATE_TO_RENDER_IN_MOMENT.push({date: '{{ date }}', blockId: '{{ timeBlockId }}' });
                    </script>
                </span>
        </div>
        <div class='media-body'>
            <!--<h4 class='media-heading'>Middle aligned media</h4> -->
            <p class="triangle-right left">{{ message }}</p>
        </div>
    </div>
{% endmacro %}

{% macro parseMessage(message) %}
    {{
        message|replace(
                        {
                            ':T': " <img src='"~ asset("bundles/pfacore/images/smiley/thug_life.png") ~"' width='25' height='25' /> ",
                            ';)': " <img src='"~ asset("bundles/pfacore/images/smiley/face-wink.png") ~"' width='25' height='25' /> ",
                            '(Y)': " <img src='"~ asset("bundles/pfacore/images/smiley/good.png") ~"' width='25' height='25' /> ",
                            ':P': " <img src='"~ asset("bundles/pfacore/images/smiley/langue.png") ~"' width='25' height='25' /> ",
                            ':M': " <img src='"~ asset("bundles/pfacore/images/smiley/me.png") ~"' width='25' height='25' /> ",
                            ':O': " <img src='"~ asset("bundles/pfacore/images/smiley/oups.png") ~"' width='25' height='25' /> ",
                            ':D': " <img src='"~ asset("bundles/pfacore/images/smiley/laugh.png") ~"' width='25' height='25' /> ",
                        }
        )|raw
    }}
{% endmacro %}

{% macro displayMailAttachements(mail) %}
    <div class="row well">
        {% for attachement in mail.attachements %}
            {% set extension = attachement.imageName|split(".")|last %}

            {% if extension == "pdf" %}
                {% set src = asset("bundles/pfacore/images/pdf.png") %}
                {% set title = "Fichier PDF"  %}
            {% elseif extension in ["jpg","png","jped","gif"] %}
                {% set src = asset("bundles/pfacore/images/jpg.png") %}
                {% set title = "Image"  %}
            {% elseif extension == "doc" or  extension == "docx" %}
                {% set src = asset("bundles/pfacore/images/word.png") %}
                {% set title = "Ficher MS Word"  %}
            {% elseif extension == "xlsx" %}
                {% set src = asset("bundles/pfacore/images/excel.png") %}
                {% set title = "Fichier MS Excel"  %}
            {% elseif extension == "txt" %}
                {% set src = asset("bundles/pfacore/images/txt.png") %}
                {% set title = "Fichier Texte"  %}
            {% elseif extension in ["rar", "zip"] %}
                {% set src = asset("bundles/pfacore/images/rar.png") %}
                {% set title = "Fichier Compréssé"  %}
            {% else%}
                {% set src = asset("bundles/pfacore/images/ras.png") %} <!-- DEFAULT -->
                {% set title = "Fichier inconue"  %}
            {% endif %}
            <div class="card_ col m1 s2">
                <div class="card-image_">
                    <img src="{{ src }}" alt="Type" class="image circle_ tooltipped" width="45" data-position="bottom" data-delay="50" data-tooltip="{{ title }}"><br>
                            <span class="card-title">
                              <a href="{{ vich_uploader_asset(attachement, "imageFile") }}" target="_blank" title="Télécharger"><i class="material-icons">system_update_alt</i></a>
                            </span>
                </div>
                <div class="card-content">
                    <p></p>
                </div>
                <div class="card-action">
                    <a href="#"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}